{% load static %}
<div class="footer-bottom">
	<div class="container">
		<div class="row section-primary-mooc">
	        <div class="col-md-9 text-center">
		        <p class="footer-credits"><a href="http://timtec.com.br" target="_blank">TIM Tec é um Software Livre desenvolvido pelo Instituto TIM - 2016</a></p>
			</div>
	        <div class="col-md-3">
	        	<img src="static/img/logo_header_fundacao.svg">
	        </div>
		</div>
	</div>
</div>

                    



<!-- <footer class="section section-primary-mooc">

        <div class="section">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                    <p><a href="http://timtec.com.br" target="_blank">TIM Tec é um Software Livre desenvolvido pelo Instituto TIM - 2016</a></p>

                    </div>
                </div>
            </div>
        </div>

</footer> -->