{% extends 'default:header.html' %}
{% load is_coordinator %}
{% load i18n %}

{% block header_navbar %}
    <a class="navbar-brand" href="/">{{ site.name }}</a>
 {% endblock %}

{% block header_site_nav %}
    <li><a href="#" data-toggle="modal" data-target="#modal-contact">{% trans 'Contact' %}</a></li>
    {% if request.user.is_authenticated %}
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans 'Messages' %}
                {% verbatim %}
                    <span class='badge' ng-show='theres_new_messages'>{{ total_messages }}</span>
                {% endverbatim %}
            </a>
            <ul class="dropdown-menu messages">
                <li ng-repeat="message in messages | limitTo:5">
                    {% verbatim %}
                        <a ng-href='{{ message.get_absolute_url }}' ng-class="{read: message.is_read}">
                            <div class='title'>
                                <i class="fa" ng-class='{"fa-envelope": !message.is_read, "fa-envelope-open-o": message.is_read}'></i>
                                {{ message.subject }}
                            </div>
                            <div class='course'>{{ message.course }} - <span class='date'>{{ message.date|date:"dd/MM/yyyy HH:mm"}}</span></div>
                        </a>
                        <a role="button" tabindex="0" class="pull-right delete" ng-click="delete_message(message)" title="Excluir Mensagem">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    {% endverbatim %}
                </li>
                <li ng-show="!messages.length" class='empty'><i>{% trans 'There are no messages' %}</i></li>
                <li ng-show="messages.length" class="see-all-messages">
                    <a href="{% url 'user_all_messages' %}" class="text-center">
                        {% trans "See All Messages" %}
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}

{% endblock %}

{% block header_signin %}
    {% if site.integration_login_url %}
        <li><a href="{{ site.integration_login_url }}">{% trans 'Sign In' %}</a></li>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block header_signup %}{% endblock %}
